@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f8fafc;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}