@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gradient-to-r from-indigo-100 via-purple-100 to-pink-100 font-sans;
    font-family: 'Inter', sans-serif;
}